html {
    width: 100%;
    height: 100%;
    background-color: #999;
}
body {
    width: 70%;
    padding: 5px;
    margin: auto;
}
.center {
    margin: auto;
    clear: both;
}
#header {
    border-radius: 8px;
    background-color: rgba(180, 180, 180, 150);
}
#header h1 {
    display: inline-block;
    margin-left: 10px;
}
nav {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 5px;
}
.content {
    border-radius: 8px;
    background-color: rgba(180, 180, 180, 150);
    padding: 10px;
    margin: 10px 0 10px 0;
}
h2 {
    margin: 5px;
}
#resources > ul:first-of-type {
    border-radius: 8px;
    background-color: rgba(230, 230, 230, 110);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 35%;
}
