<footer>
    <div id="empty"></div>
    <div class="connect">

        <h4>Connect with us on:</h4>

        <a href="https://www.facebook.com/groups/wwugamedesignclub/"><img title="facebook" class="img-circle" alt= "facebook" width="50" height="50" src="images/1459410919_3.svg"></a>  
        <a href="https://www.linkedin.com/groups/8508040"><img title="LinkedIn" class="img-circle" alt= "LinkedIn" width="50" height="50" src="images/1459410933_9.svg"></a> 
        <a href="#"><img title="GitHub" class="img-circle" alt= "GitHub" width="50" height="50" src="images/1459410948_29.svg"></a>     
        <a href="https://orgsync.com/114927/chapter"><img title="AS OrgSync" alt= "AS OrgSync" width="50" height="50" src="images/334-a78w08v-western-washington-as-app-sm.png"></a>
    </div>

    <div id="year">
        <p>2016</p>
    </div>
</footer>
