<div class="container-fluid">
<div class="row">        
        <div id="header-image"></div>
                <header>
                    <div id="header-border">
                        <h1>Game Design Club</h1>
                        <h2>Western Washington University</h2>
                    </div>
                </header>

        <nav>
            <div class="row">
                <ul class="main_menu">
                    <div class="col-sm-2 col-sm-offset-1">
                        <li><a href="index.html">Home</a></li>
                    </div>
                    <div class="col-sm-2">
                        <li><a href="{{"/about" | prepend: site.baseurl }}">About</a></li>
                    </div>
                    <div class="col-sm-2">
                        <li><a href="event.html">Events</a>
<!--
                            <ul>
                                <li><a href="#">GameJam Fall 2015</a></li>
                                <li><a href="#">GameJam Winter 2016</a></li>
                            </ul>
-->
                        </li>
                    </div>
                    <div class="col-sm-2">
                        <li><a href="{{ "/resources.html" | prepend: site.baseurl }}">Resources</a>
<!--
                            <ul>
                                <li><a href="#">Tools</a></li>
                                <li><a href="#">Tutorials</a></li>
                            </ul>
-->
                        </li>
                    </div>
                    <div class=" col-sm-2">
                        <li><a href="contact.html">Contact Us</a></li>
                    </div>
                </ul>
            </div>
<!--	{% for my_page in site.pages %}
	  {% if my_page.title %}
	  <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
	  {% endif %}
	{% endfor %}
</ul>
-->
            </nav>
            

